@media (min-width: 600px){
    
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .contentFood, .contentDrinks, .contentDessert{
        width: 95%;
        justify-content: center;
        justify-content: space-evenly;
        margin-right: 10px;
        
    }
}